<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            
            <FluentNavGroup Icon="@(new Icons.Regular.Size20.Person())" Title="Session" Expanded="true">
                <AuthorizeView>
                    <Authorized>
                        <FluentNavLink Href="/auth/logout" IconColor="Color.Accent">Logout</FluentNavLink>
                        <FluentNavLink Href="/groups/index" Icon="@(new Icons.Regular.Size20.List())" IconColor="Color.Accent">My Groups</FluentNavLink>
                    </Authorized>
                    <NotAuthorized>
                        <FluentNavLink Href="/auth/login" IconColor="Color.Accent">Login</FluentNavLink>
                        <FluentNavLink Href="/auth/register" IconColor="Color.Accent">Register</FluentNavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </FluentNavGroup>

			<AuthorizeView>
				<Authorized>
                    <FluentNavGroup Icon="@(new Icons.Regular.Size20.Person())" Title="Administration" Expanded="true">
                        <FluentNavLink Href="/admin/communities" IconColor="Color.Accent">Communities</FluentNavLink>
                        <FluentNavLink Href="/admin/groups" IconColor="Color.Accent">Groups</FluentNavLink>
                        <FluentNavLink Href="/admin/users" IconColor="Color.Accent">Users</FluentNavLink>
                        <FluentNavLink Href="/admin/system" IconColor="Color.Accent">System</FluentNavLink>
					</FluentNavGroup>
				</Authorized>
			</AuthorizeView>

        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}