@using iPath.UI.ViewModels.Admin.Users
@implements IDialogContentComponent<UserModel>

@inject IAdminUserViewModel vm

@* Header *@
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            Edit Settings for @Content.Username #@Content.Id
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync">Save</FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Cancel</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>
    <FluentStack Orientation="Orientation.Vertical">
        <FluentTextField Disabled="@(!IsAdmin)" style="width: 100%;" @bind-Value="@Content.Username" Label="Username" />
        <FluentTextField Disabled="@(!IsAdmin)" style="width: 100%;" @bind-Value="@Content.Email" Label="Email" />

        @if( IsAdmin )
        {
            <FluentTextField Disabled="@(!IsAdmin)" style="width: 100%;" @bind-Value="@pwd1" Label="Password" />
            <FluentTextField Disabled="@(!IsAdmin)" style="width: 100%;" @bind-Value="@pwd2" Label="Confirm" />
        }

        <FluentTextField style="width: 100%;" @bind-Value="@Content.Firstname" Label="Firstname" />
        <FluentTextField style="width: 100%;" @bind-Value="@Content.Familyname" Label="Familyname" />
        <FluentTextField style="width: 100%;" @bind-Value="@Content.Specialisation" Label="Specialisation" />
        <FluentSelect TOption="string" Items="CountryHelper.CountryCodes" @bind-Value="@Content.Country" Label="Country" />
        <FluentSwitch @bind-Value="@Content.IsActive" Label="Active" />
        @if (IsAdmin)
        {
            <FluentSwitch @bind-Value="@Content.IsSysAdmin" Label="System Adminstrator" />
        }
    </FluentStack>
    <p>@Message</p>

</FluentDialogBody>

@code {
    [Parameter]
    public UserModel Content { get; set; } = default!;

    string pwd1 = default!;
    string pwd2 = default!;
    string Message;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    [CascadingParameter]
    public CascadingAppState appSate { get; set; }


    bool IsAdmin = false;
    protected override async Task OnInitializedAsync()
    {
        IsAdmin = appSate.Session.IsAdmin;
    }


    private async Task SaveAsync()
    {
        if( IsAdmin && !string.IsNullOrEmpty(pwd1) )
        {
            if( pwd1 != pwd2 ){
                Message = "password do not match";
                return;
            }
            await vm.UpdateUserPasswordAsync(pwd1, Content.IsActive);
        }

        await Dialog.CloseAsync(Content);
    }

    private async Task CancelAsync()
    {
        await Dialog.CancelAsync();
    }
}