@page "/groups/index"
@using iPath.UI.ViewModels.Groups

@inject IGroupListViewModel vm
@inject NavigationManager nm

<h3>Group List</h3>

<ExpandableErrorBoundary>

	<FluentDataGrid ItemsProvider="@vm.GridDataProvider" TGridItem="GroupListDTO"
	@ref=@grid Pagination="@pagination" GridTemplateColumns="4fr 1fr"
	OnRowClick="GotoGorup">
		<PropertyColumn Property="@(x => x.Name)" Title="Group Name" Sortable="true" InitialSortDirection="SortDirection.Ascending" />
		<PropertyColumn Property="@(x => x.NodeCount)" Title="Nodes" Align="Align.End" />
	</FluentDataGrid>
	<FluentPaginator State="@pagination" />

</ExpandableErrorBoundary>


@code {
	FluentDataGrid<GroupListDTO> grid;
	PaginationState pagination = new PaginationState { ItemsPerPage = 25 };

	[CascadingParameter]
	public CascadingAppState appState { get; set; }

	protected override async Task OnInitializedAsync()
	{
		vm.UserId = (await appState.GetSessionAsync()).UserId;

		await vm.ExecuteSearchAsync();
	}

	void GotoGorup(FluentDataGridRow<GroupListDTO> row)
	{
		if (row.Item != null)
		{
			nm.NavigateTo($"/groups/{row.Item.Id}");
		}
	}
}
