@page "/auth/profile/{UserId:int}"

@using System.ComponentModel.DataAnnotations
@using iPath.Data.Entities
@using iPath.UI.Areas.DraftStorage
@using iPath.UI.Areas.Identity
@using iPath.UI.ViewModels.Drafts
@using iPath.UI.ViewModels.Users

@inject IUserProfileViewModel vm
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager nm
@inject IDraftStore srvDrafts
@inject IToastService srvToast

@if (vm.Model is null)
{
	<h3>Profile</h3>
	@if (string.IsNullOrEmpty(Message))
	{
		<FluentProgressRing />
	}
}
else
{
	<ExpandableErrorBoundary>
		<h3>Profile - @vm.Model.Username</h3>

		<FluentEditForm Model="vm.Model" OnValidSubmit="UpdateUser">
			<DataAnnotationsValidator />
			<FluentValidationSummary />

			<FluentStack Orientation="Orientation.Vertical">
				<FluentTextField Label="Email" Placeholder="Password" Value="vm.Model.Email" Disabled="true" TextFieldType="TextFieldType.Email" />

				<FluentTextField Label="Firstname" Placeholder="Firstname" @bind-Value="@vm.Model.Firstname" />
				<FluentTextField Label="Familyname" Placeholder="Familyname" @bind-Value="@vm.Model.Familyname" />
				<FluentTextField Label="Specialisation" Placeholder="Specialisation" @bind-Value="vm.Model.Specialisation" Style="width: 100%;" />

				<FluentSelect TOption="string" Items="CountryHelper.CountryCodes" @bind-Value="@vm.Model.Country" Label="Country" />

				<FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Save Changes</FluentButton>
			</FluentStack>
		</FluentEditForm>

	</ExpandableErrorBoundary>
}

@if (!string.IsNullOrEmpty(Message))
{
	<p style="margin-top: 2em; border: 1px solid; padding: 1em; color: red;">@Message</p>
}


@code {
	[Parameter]
	public int UserId { get; set; }

	private string Message;

	protected override async Task OnParametersSetAsync()
	{
		await vm.LoadUserAsync(UserId);
	}


	private async Task UpdateUser()
	{
		var resp = await vm.SaveModelAsync();

		if( resp.Success )
		{
			srvToast.ShowInfo("data saved");
		}
		else
		{
			srvToast.ShowError(resp.Message);
		}

		StateHasChanged();
	}

}