@page "/nodes/{NodeId:int}"
@using iPath.UI.Components.Pages.Nodes.Dialogs
@using iPath.UI.ViewModels.Nodes

@inject INodeViewModel vm
@inject IDraftStore srvDraft
@inject IToastService srvToast
@inject IDialogService srvDialog
@inject IJSRuntime js

@if (vm.Model != null)
{
	<FluentBreadcrumb class="breadcrumbs">
		<FluentBreadcrumbItem Href="/">
			home
		</FluentBreadcrumbItem>
		<FluentBreadcrumbItem Href=@($"/groups/{vm.Model.Group.Id}")>
			@vm.Model.Group.Name
		</FluentBreadcrumbItem>
		<FluentBreadcrumbItem>@vm.Model.Caption</FluentBreadcrumbItem>
	</FluentBreadcrumb>
}

<ErrorMessage Message="@vm.Message" />

<ExpandableErrorBoundary>
	@if (vm.Model == null)
	{
		<FluentProgressRing />
	}
	else
	{
		<div class="nodeheader">
			<div class="nodeheader_title">
				@vm.Model.Caption
			</div>
			<div class="nodeheader_actions">
				<FluentFlipper Direction="FlipperDirection.Previous" @onclick="@vm.PreviousImage"></FluentFlipper>
				<FluentFlipper Direction="FlipperDirection.Next" @onclick="@vm.NextImage"></FluentFlipper>
			</div>
			<div class="nodeheader_appbar">
				<FluentAppBar Orientation="Orientation.Horizontal">
					<FluentAppBarItem Href="/"
									  Match="NavLinkMatch.All"
									  IconRest="HomeIcon()"
									  IconActive="HomeIcon(active: true)"
									  Text="Home" />

					@if (vm.Model.Group != null)
					{
						<FluentAppBarItem Href=@($"/groups/{vm.Model.Group.Id}")
										  Match="NavLinkMatch.All"
										  IconRest="ListIcon()"
										  IconActive="ListIcon(active: true)"
										  Text="List" />
					}

					<FluentAppBarItem OnClick="ReloadNode"
									  Match="NavLinkMatch.All"
									  IconRest="CaseIcon()"
									  IconActive="CaseIcon(active: true)"
									  Text="Case" />

					@if (canEdit)
					{
						<FluentAppBarItem Href=@($"/nodes/edit/{NodeId}")
										  Match="NavLinkMatch.All"
										  IconRest="EditIcon()"
										  IconActive="EditIcon(active: true)"
										  Text="Edit" />
					}

					<FluentAppBarItem OnClick="AddAttachment"
									  Match="NavLinkMatch.All"
									  IconRest="AttachIcon()"
									  IconActive="AttachIcon(active: true)"
									  Text="Add Image" />
				</FluentAppBar>
			</div>
		</div>

		<div class="node_description">
			<div style="float: right;">
				<span>@(vm == null || vm.CollapseDescritpion ? "+" : "-")</span>
			</div>
			<h4 @onclick="ToggleDescritpion">@vm.SubTitleText</h4>
			<p hidden="@vm.CollapseDescritpion">@vm.Model.DescriptionHtml</p>
		</div>

		@***** Gallery *******************************************************@
		@if (vm.ActiveChild != null && vm.ActiveChild.IsImage)
		{
			@**** Image View **********************************************@
			<div class="image_view">
				<img src="@vm.FileUrl(vm.ActiveChild)" alt="@vm.ActiveChild.Filename"
					 width="@vm.ActiveChild.ImageWidth"
					 @onclick="vm.NextImage" />
				<div class="image_info">
					@vm.ActiveChild.Filename
				</div>
			</div>
		}
		else
		{
			<div class="titleWithActions">
				<div class="titleHeader">
					<h4>Gallery</h4>
				</div>
				<div class="titleActions">
					<FluentButton IconEnd="@(new Icons.Regular.Size16.ArrowSort())" Title="sort images" OnClick="@(() => gallerySortingActive = true)" />
					<FluentButton IconEnd="@(new Icons.Regular.Size16.AddCircle())" Title="Add a new image" OnClick="AddAttachment" />
				</div>
			</div>

			@if (!gallerySortingActive)
			{
				// display
				<NodeGallery Parent="@vm.Model" OnChildNodeActivated="@vm.SelectChild" />
				@if (canEdit && vm.Model.HasUnfinishedUploads(appState.Session.UserId))
				{
					<div class="gallery_alert">
						<b>Note: </b>this items contains unfinsihed uploads.
						<div>
							<FluentButton Appearance="Appearance.Accent" OnClick="DeleteUnfinishedUploads">Delete Uploads</FluentButton>
							<FluentButton Appearance="Appearance.Accent" OnClick="PublishUnfinishedUploads">Plublish Uploads</FluentButton>
						</div>
					</div>
				}
			}
			else
			{
				// sorting
				<SortableNodeGallery ViewModel="vm" OnSortingFinished="@(() => gallerySortingActive = false)" />
			}
		}


		@***** Annotations *******************************************************@
		<AnnotationsView vm="@vm" />

	}
</ExpandableErrorBoundary>


@code {
	[Parameter]
	public int NodeId { get; set; }


	[CascadingParameter]
	public CascadingAppState appState { get; set; }

	private bool canEdit = false;


	private static Icon EditIcon(bool active = false) =>
		active ? new Icons.Filled.Size24.Edit() : new Icons.Regular.Size24.Edit();

	private static Icon AttachIcon(bool active = false) =>
		active ? new Icons.Filled.Size24.Attach() : new Icons.Regular.Size24.Attach();

	private static Icon ListIcon(bool active = false) =>
		active ? new Icons.Filled.Size24.ArrowEnterUp() : new Icons.Regular.Size24.ArrowEnterUp();

	private static Icon CaseIcon(bool active = false) =>
		active ? new Icons.Filled.Size24.Library() : new Icons.Regular.Size24.Library();

	private static Icon HomeIcon(bool active = false) =>
		active ? new Icons.Filled.Size24.Home() : new Icons.Regular.Size24.Home();



	protected override void OnInitialized()
	{
		vm.ResetData();
	}

	protected override async Task OnParametersSetAsync()
	{
		await ReloadNode();
	}

	async Task ReloadNode()
	{
		try
		{
			await vm.LoadNode(NodeId);
			canEdit = appState.IsAdmin || vm.Model.Owner.Id == appState.Session?.UserId;
		}
		catch (Exception ex)
		{
			srvToast.ShowError(ex.Message);
		}
	}

	void ToggleDescritpion()
	{
		vm.CollapseDescritpion = !vm.CollapseDescritpion;
	}


	/*** Image Gallery ****************************************************************************/
	private bool gallerySortingActive = false;

	async Task AddAttachment()
	{
		var dialog = await srvDialog.ShowDialogAsync<NodeFileUploadDlg>(vm.Model, new DialogParameters()
			{
				Width = "900px",
				Title = "Upload Images",
				PreventDismissOnOverlayClick = true,
				PreventScroll = true,
			});

		var result = await dialog.Result;
		if (!result.Cancelled && result.Data != null)
		{
			var resp = result.Data as string;
			if (!string.IsNullOrEmpty(resp))
			{
				srvToast.ShowError(resp);
			}

			await vm.LoadNode(NodeId);
		}
	}

	async Task DeleteUnfinishedUploads()
	{
		var nodes = vm.Model.Children.Where(c => c.Visibility == eNodeVisibility.Draft).Select(c => c.Id).ToList();
		var resp = await vm.DeleteNodesAsync(nodes);
		await vm.LoadNode(vm.Model.Id);
		StateHasChanged();
	}

	async Task PublishUnfinishedUploads()
	{
		var nodes = vm.Model.Children.Where(c => c.Visibility == eNodeVisibility.Draft).Select(c => c.Id).ToList();
		var resp = await vm.UpdateNodesVisibilityAsync(nodes, eNodeVisibility.Visible);
		await vm.LoadNode(vm.Model.Id);
		StateHasChanged();
	}

}
